%hr

.container#learn-more
  .row
    .col-md-8
      Nunc ut orci accumsan, lobortis ligula ac, porttitor quam. Nullam convallis tortor vel nunc ultricies, sit amet tincidunt lacus interdum. Duis pulvinar erat at sem ullamcorper porttitor. Aliquam dignissim vel nulla a posuere. Integer quis rhoncus nunc. Curabitur auctor leo non dui laoreet, eleifend elementum enim rhoncus. Pellentesque eu imperdiet est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt, augue gravida pretium tincidunt, metus justo vestibulum ligula, at cursus augue enim fermentum leo. Ut sit amet egestas nunc. Aenean bibendum ultrices ligula, vel accumsan erat pulvinar a.

      Suspendisse potenti. Aenean a nisi lacus. Quisque lacinia, mi blandit pharetra placerat, arcu orci mattis sem, suscipit feugiat ipsum nunc ultricies nisi. Ut ante orci, sagittis eu orci in, dapibus vehicula eros. Curabitur egestas massa cursus sagittis sollicitudin. Aliquam auctor neque in arcu hendrerit posuere. Suspendisse potenti. In tortor velit, pulvinar quis ullamcorper eget, sagittis quis magna.
    .col-md-4
      = image_tag("p2pc_logo.png", id: "navbar-logo")

  .row
    .col-md-4
      = image_tag("p2pc_logo.png", id: "navbar-logo")
    .col-md-8
      Nunc ut orci accumsan, lobortis ligula ac, porttitor quam. Nullam convallis tortor vel nunc ultricies, sit amet tincidunt lacus interdum. Duis pulvinar erat at sem ullamcorper porttitor. Aliquam dignissim vel nulla a posuere. Integer quis rhoncus nunc. Curabitur auctor leo non dui laoreet, eleifend elementum enim rhoncus. Pellentesque eu imperdiet est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt, augue gravida pretium tincidunt, metus justo vestibulum ligula, at cursus augue enim fermentum leo. Ut sit amet egestas nunc. Aenean bibendum ultrices ligula, vel accumsan erat pulvinar a.

      Suspendisse potenti. Aenean a nisi lacus. Quisque lacinia, mi blandit pharetra placerat, arcu orci mattis sem, suscipit feugiat ipsum nunc ultricies nisi. Ut ante orci, sagittis eu orci in, dapibus vehicula eros. Curabitur egestas massa cursus sagittis sollicitudin. Aliquam auctor neque in arcu hendrerit posuere. Suspendisse potenti. In tortor velit, pulvinar quis ullamcorper eget, sagittis quis magna.

  .row
    .col-md-8
      Nunc ut orci accumsan, lobortis ligula ac, porttitor quam. Nullam convallis tortor vel nunc ultricies, sit amet tincidunt lacus interdum. Duis pulvinar erat at sem ullamcorper porttitor. Aliquam dignissim vel nulla a posuere. Integer quis rhoncus nunc. Curabitur auctor leo non dui laoreet, eleifend elementum enim rhoncus. Pellentesque eu imperdiet est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt, augue gravida pretium tincidunt, metus justo vestibulum ligula, at cursus augue enim fermentum leo. Ut sit amet egestas nunc. Aenean bibendum ultrices ligula, vel accumsan erat pulvinar a.

      Suspendisse potenti. Aenean a nisi lacus. Quisque lacinia, mi blandit pharetra placerat, arcu orci mattis sem, suscipit feugiat ipsum nunc ultricies nisi. Ut ante orci, sagittis eu orci in, dapibus vehicula eros. Curabitur egestas massa cursus sagittis sollicitudin. Aliquam auctor neque in arcu hendrerit posuere. Suspendisse potenti. In tortor velit, pulvinar quis ullamcorper eget, sagittis quis magna.
    .col-md-4
      = image_tag("p2pc_logo.png", id: "navbar-logo")

  .row
    .col-md-4
      = image_tag("p2pc_logo.png", id: "navbar-logo")
    .col-md-8
      Nunc ut orci accumsan, lobortis ligula ac, porttitor quam. Nullam convallis tortor vel nunc ultricies, sit amet tincidunt lacus interdum. Duis pulvinar erat at sem ullamcorper porttitor. Aliquam dignissim vel nulla a posuere. Integer quis rhoncus nunc. Curabitur auctor leo non dui laoreet, eleifend elementum enim rhoncus. Pellentesque eu imperdiet est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt, augue gravida pretium tincidunt, metus justo vestibulum ligula, at cursus augue enim fermentum leo. Ut sit amet egestas nunc. Aenean bibendum ultrices ligula, vel accumsan erat pulvinar a.

      Suspendisse potenti. Aenean a nisi lacus. Quisque lacinia, mi blandit pharetra placerat, arcu orci mattis sem, suscipit feugiat ipsum nunc ultricies nisi. Ut ante orci, sagittis eu orci in, dapibus vehicula eros. Curabitur egestas massa cursus sagittis sollicitudin. Aliquam auctor neque in arcu hendrerit posuere. Suspendisse potenti. In tortor velit, pulvinar quis ullamcorper eget, sagittis quis magna.

  .row
    .col-md-8
      Nunc ut orci accumsan, lobortis ligula ac, porttitor quam. Nullam convallis tortor vel nunc ultricies, sit amet tincidunt lacus interdum. Duis pulvinar erat at sem ullamcorper porttitor. Aliquam dignissim vel nulla a posuere. Integer quis rhoncus nunc. Curabitur auctor leo non dui laoreet, eleifend elementum enim rhoncus. Pellentesque eu imperdiet est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt, augue gravida pretium tincidunt, metus justo vestibulum ligula, at cursus augue enim fermentum leo. Ut sit amet egestas nunc. Aenean bibendum ultrices ligula, vel accumsan erat pulvinar a.

      Suspendisse potenti. Aenean a nisi lacus. Quisque lacinia, mi blandit pharetra placerat, arcu orci mattis sem, suscipit feugiat ipsum nunc ultricies nisi. Ut ante orci, sagittis eu orci in, dapibus vehicula eros. Curabitur egestas massa cursus sagittis sollicitudin. Aliquam auctor neque in arcu hendrerit posuere. Suspendisse potenti. In tortor velit, pulvinar quis ullamcorper eget, sagittis quis magna.
    .col-md-4
      = image_tag("p2pc_logo.png", id: "navbar-logo")