- provide(:full_width, "true")
- provide(:title, "Home")

.jumbotron
  .container
    %h1 Get practical help with Lean Startup
    %p Finished reading all the books and blogs? Still stuck?
    %p
      Trade stories, tips, and tricks about what
      %u really
      works and what doesn't from other practitioners.
    .row
      .col-sm-6.col-sm-offset-3
        = form_for Subscriber.new do |f|
          = render 'shared/error_messages', object: f.object
          .form-group
            = f.label :name
            = f.text_field :name

          .form-group
            = f.label :email
            = f.email_field :email

          .actions
            = f.button "Continue &raquo;".html_safe, class: "btn btn-primary", name: "continue_button"

.container
  .row
    .col-sm-4
      %h2.feature-title Join 80,000+ members
      %p Connect with the worldwide community on a deeper level in small groups to tackle real problems.
    .col-sm-4
      %h2.feature-title No excuses. Go fast!
      %p Each week you'll pick a learning goal and make a commitment for the following session.

    .col-sm-4
      %h2.feature-title Tactics & Tools
      %p Get into detail with other startups at your level to learn about specific tools and tactics.

= render 'static_pages/learn_more'
