- provide(:full_width, "true")
- provide(:title, "Home")

.jumbotron
  .container
    %h1 Get practical help with Lean Startup
    %p Finished reading all the books and blogs? Still stuck?
    %p
      Trade stories, tips, and tricks about what
      %u really
      works and what doesn't from other practitioners.
    .row
      .col-sm-12
        - if current_user 
          = link_to "Resume application", registration_peer_path(current_user.peer), class: "btn btn-primary btn-lg tracked", id: "complete-application-btn"
        - else
          = link_to "Apply now", new_user_path, class: "btn btn-primary btn-lg tracked", id: "peer-request-invite"
        = link_to "Learn more", "#learn-more", class: "btn btn-default btn-lg tracked", id:"peer-learn-more"

.container
  .row
    .col-sm-4
      %h2.feature-title Join 80,000+ members
      %p Connect with the worldwide community on a deeper level in small groups to tackle real problems.
    .col-sm-4
      %h2.feature-title No excuses. Go fast!
      %p Each week you'll pick a learning goal and make a commitment for the following session.

    .col-sm-4
      %h2.feature-title Tactics & Tools
      %p Get into detail with other startups at your level to learn about specific tools and tactics.

%hr

.container#learn-more
  .row
    .col-sm-4.img-container
      = image_tag("members_only.png")
    .col-sm-8
      %h2 Members Only
      %p
        The Peer-to-Peer group is by application
        %u only
        \.
      %p This keeps the group to serious practitioners committed to making progress on a week to week basis.
      %p Entrepreneurs from any level are welcome to join, from seed stage startups to enterprise intrapreneurs, but groups are kept segmented so that you'll get the most practical advice from members with relevant experience.
  .row
    .col-sm-4.img-container
      = image_tag("build_measure_learn.png")
    .col-sm-8
      %h2 Weekly Commitment
      %p Joining a group is a commitment to make progress on your business each week.
      %p Each week you'll set learning goals and create a hypothesis to test. Your assumptions will be challenged by the other members of the group to keep you focused on the riskiest parts of your business.
      %p When you return the next week, your group will help you analyze your results and get to the root cause of any problems you encountered.
  .row
    .col-sm-4.img-container
      = image_tag("p2pc_group.png")
    .col-sm-8
      %h2 Real Stories from Real People
      %p Sometimes the books, blogs, and videos don't help you when it comes to applying theory to practice. Eventually, you'll hit a roadblock.
      %p Getting real help means talking to real people who have encountered similar problems and can help you think through how to apply the theory. Real learning from real practitioners.