<div class="form-group">
  <%= f.label "What locations are possible/convenient for you to meet?" %>
  <%= f.text_area :availability_location %>
</div>

<div class="form-group">
	<%= f.label "What locations are possible/convenient for you to meet?" %>
	<%= f.check_box :availability_time, { multiple: true }, "ale", nil %>
	<%= f.check_box :availability_time, { multiple: true }, "prioni", nil %>
</div>

<div class="form-group">
	<%= f.label "Is your team full time / part time or a mix?" %>
	<%= f.text_field :availability_team %>
</div>