.form-group
  = f.label :name
  = f.text_field :name

.form-group
  = f.label :email
  = f.email_field :email

.form-group
  .well
    = f.check_box :newsletter_subscription
    = f.label :newsletter_subscription, "Subscribe to newsletter"