<div class="form-group">
  <%= f.label "What's your runaway?" %>
  <%= f.text_field :runway_desc %>
</div>

<div class="form-group">
  <%= f.label "What is your next milestone?" %>
  <%= f.text_area :runway_milestone %>
</div>

<div class="form-group">
  <%= f.label "What constraints limit your iteration speed?" %>
  <%= f.text_area :runway_constraints %>
</div>