<%
	runaway_desc_options = [
													"< 3 months",
													"3-6 months",
													"6 months - 1 year",
													"> year",
													"unlimited"
													]
%>

<div class="form-group">
  <%= f.label "What's your runaway (in months)?", for: :runway_desc %>
  <%= f.text_field :runway_desc %>
</div>

<div class="form-group">
	<%= f.label "What's your runaway (in months)?", for: :runway_desc %>

	<% runaway_desc_options.each do |desc| %>
		<div class="checkbox">
			<label>
				<%= f.radio_button :runway_desc, desc %>
			  <%= f.label desc, for: :runway_desc %>
			</label>
		</div>
	<% end %>
</div>

<div class="form-group">
  <%= f.label "What is your next milestone?", for: :runway_milestone %>
  <%= f.text_area :runway_milestone %>
</div>

<div class="form-group">
  <%= f.label "What constraints limit your iteration speed?", for: :runway_constraints %>
  <%= f.text_area :runway_constraints %>
</div>