.form-group
  = f.label :startup_info, "What's the URL or name of your startup?"
  = f.text_field :startup_info

.form-group
  = f.label :startup_role, "What is your role in the startup?"
  = f.select :startup_role, startup_role_options

.form-group
  = f.label :startup_market, "Is your startup B2C, B2B, B2G, C2C, etc?"
  = f.select :startup_market, startup_market_options 

.form-group
  = f.label :startup_persona, "How would you describe your early adopters (or customer persona) to a fellow lean startup practitioner?"
  = f.text_area :startup_persona

.form-group
  = f.label :startup_time, "How long have you been actively working on your current startup?"
  = f.select :startup_time, startup_time_options

.form-group
  = f.label :startup_interviews, "How many customers have you interviewed face to face?"
  = f.select :startup_interviews, startup_interviews_options

.form-group
  = f.label :startup_customers, "How many active customers do you have?"
  = f.select :startup_customers, startup_customers_options

.form-group
  = f.label :startup_pmf, "Have you reached Product/Market Fit and how have you validated it?"
  = f.text_area :startup_pmf

.form-group
  = f.label :startup_metrics, "What are the key metrics (qualitative or quantitative) you are tracking your progress against?"
  = f.text_area :startup_metrics

.form-group
  = f.label :startup_stage, "If you had to classify the stage of your startup, would you define yourself as?"
  = f.select :startup_stage, startup_stage_options