%div
  %p Hi #{@user.first_name},

  %p Thanks for helping to moderate! Just read the article and vote it up or down.
  %p
    If you've got an article you think should be listed,
    = link_to "submit it here", new_link_path
  %p If you need to log in, use your email address and reset your password if you don't have one.
  %table
    %tr
      %th
      %th Link
      %th Why is this a good read?
    - @links.each do |link|
      %tr
        %td
          - unless @user.voted_up_on? link
            = link_to link_upvote_url(link) do
              &#x25B2;
          - else
            %span{ style: 'color: red;' } &#x25B2;
          - unless @user.voted_down_on? link
            = link_to link_downvote_url(link) do
              &#x25BC;
          - else
            %span{ style: 'color: red;' } &#x25BC;
        %td
          = link_to link.title, link.url, target: "_blank"
        %td
          = link.reason

  %p If you'd like to unsubscribe, please just reply to this email with "UNSUBSCRIBE"