- provide(:title, "Find a Lean Startup Meetup")

#index_groups
  .row
    .span12
      %h1{ :style => "display: inline"}
        Lean Startup Meetups Worldwide

      = render 'gmap'

      = link_to new_group_path do
        .btn.btn_warning
          Add a new group

      %table.table.table-condensed.table-striped.groups
        %thead
          %tr
            %th Name
            %th Location
            %th Next Event
            %th Links
        %tbody#groups
          - @groups.each do |group|
            %tr
              %td= link_to group.name, group.link, target: "_blank"
              %td= group.address
              %td
                - unless group.events.upcoming.blank?
                  = link_to group.events.upcoming.first.start_datetime.strftime("%a %b %d, %Y"), group.events.upcoming.first.event_url, target: "_blank"
              %td
                = link_to_if(!group.meetup_link.blank?, "#{image_tag 'links/link_meetup.png', :width => '50px'}".html_safe, group.meetup_link, target: "_blank"){}
                = link_to_if(!group.facebook_link.blank?, "#{image_tag 'links/link_facebook.png'}".html_safe, group.facebook_link, target: "_blank"){}
                = link_to_if(!group.linkedin_link.blank?, "#{image_tag 'links/link_linkedin.png'}".html_safe, group.linkedin_link, target: "_blank"){}
                = link_to_if(!group.twitter_link.blank?, "#{image_tag 'links/link_twitter.png'}".html_safe, group.twitter_link, target: "_blank"){}
                = link_to_if(!group.googleplus_link.blank?, "#{image_tag 'links/link_googleplus.png'}".html_safe, group.googleplus_link, target: "_blank"){}
