- provide(:title, "Contact")
%h1.page-title Contact Us

.row
  .col-sm-6.col-sm-offset-3

    = form_for(@message) do |f|

      = render 'shared/error_messages', object: f.object

      .form-group
        = f.label "Name"
        = f.text_field :name

      .form-group
        = f.label "Email"
        = f.email_field :email

      .form-group
        = f.label "Message"
        = f.text_area :message

      .form-group
        = recaptcha_tags :display => { :theme => "white" }

      .actions
        = f.button "Send!", name: :commit, value: :submit, class: "btn btn-primary"
        = f.button "Cancel", class: "btn"