= form_for @link, :html => { class: "form-horizontal" } do |f|
  %legend

  .form-group{ class: if !@link.errors[:title].blank? then "has-error has-feedback" end }
    = f.label :title, "Title", class: "control-label col-sm-2"
    .col-sm-6
      = f.text_field :title, class: "form-control"
      - if !@link.errors[:title].blank?
        %span{ class: "glyphicon glyphicon-remove form-control-feedback" }
        .help-block= @link.errors.full_message(:title, "is taken or otherwise dubious.")

  .form-group{ class: if !@link.errors[:url].blank? then "has-error has-feedback" end }
    = f.label :url, "URL", class: "control-label col-sm-2"
    .col-sm-6
      = f.text_field :url, class: "form-control"
      - if !@link.errors[:url].blank?
        %span{ class: "glyphicon glyphicon-remove form-control-feedback" }
        .help-block= @link.errors.full_message(:url, "has already been submitted.")

  .form-group{ class: if !@link.errors[:reason].blank? then "has-error has-feedback" end }
    = f.label :reason, "Why is this link a good read?", class: "control-label col-sm-2"
    .col-sm-6
      = f.text_area :reason, class: "form-control"
      - if !@link.errors[:reason].blank?
        %span{ class: "glyphicon glyphicon-remove form-control-feedback" }
        .help-block= @link.errors.full_message(:reason, "is not long enough.")

  .form-group
    .col-sm-3.col-sm-offset-2
      = f.submit "Cancel", class: 'btn'
      = f.submit 'Submit', class: 'btn btn-primary'