- provide(:title, "Good Reads")

#index_links
  .row
    .span12
      = link_to new_link_path do
        .btn.btn-primary
          Suggest a Good Read

      - if current_user
        %table.table.table-condensed.table-striped.groups
          %h2
            Unread
            %small
          = render partial: "links", object: @unseen.take(3)

      %table.table.table-condensed.table-striped.groups
        %h2
          This Week
          %small
            = Date.today.beginning_of_week(:sunday).strftime("%B %d")
            \-
            = (Date.today.beginning_of_week(:sunday)+7).strftime("%B %d")
        = render partial: "links", object: Link.where(created_at: Date.today.beginning_of_week(:sunday)..(Time.now)).order(:cached_weighted_average => :desc)

      %table.table.table-condensed.table-striped.groups
        %h2
          Last Week
          %small
            = (Date.today.beginning_of_week(:sunday)-7).strftime("%B %d")
            \-
            = Date.today.beginning_of_week(:sunday).strftime("%B %d")
        = render partial: "links", object: Link.where(created_at: Date.today.beginning_of_week(:sunday).days_ago(7)..Date.today.beginning_of_week(:sunday)).order(:cached_weighted_average => :desc)

      %table.table.table-condensed.table-striped.groups
        %h2
          2 Weeks Ago
          %small
            = (Date.today.beginning_of_week(:sunday)-14).strftime("%B %d")
            \-
            = (Date.today.beginning_of_week(:sunday)-7).strftime("%B %d")
        = render partial: "links", object: Link.where(created_at: Date.today.beginning_of_week(:sunday).days_ago(7)..Date.today.beginning_of_week(:sunday)).order(:cached_weighted_average => :desc)