- provide(:title, "Good Reads")

#index_links
  .row
    .span12
      %h1
        Good Reads Newsletter for the Week of
        = Date.today.beginning_of_week(:sunday) + 7

      = link_to new_link_path do
        .btn.btn-primary
          Suggest a Good Read

      %table.table.table-condensed.table-striped.groups

        %tr
          %th Vote!
          %th Link
          %th Why?
          - if current_user.try(:is?, :admin)
            %th Votes
            %th # of Voters
            %th

        - @links.each do |link|
          %tr
            %td
              - unless current_user.try(:voted_up_on?, link)
                = link_to link_upvote_path(link) do
                  .glyphicon.glyphicon-chevron-up
              - else
                .glyphicon.glyphicon-chevron-up{ style: 'color: red;'}
              - unless current_user.try(:voted_down_on?, link)
                = link_to link_downvote_path(link) do
                  .glyphicon.glyphicon-chevron-down
              - else
                .glyphicon.glyphicon-chevron-down{ style: 'color: red;'}
            %td
              = link_to link.title, link.url, target: "_blank"
            %td
              = link.reason
            - if current_user.try(:is?, :admin)
              %td
                = link.votes_for.size
              %td
                = link.votes_for.voters.count
              %td
                = link_to edit_admin_link_path(link) do
                  .glyphicon.glyphicon-pencil
                = link_to admin_link_path(link), method: :delete, data: { :confirm => 'Are you sure?' } do
                  .glyphicon.glyphicon-remove

