- provide(:full_width, "true")
- provide(:title, "Home")

#subscriber_signup
  .jumbotron
    .container
      %h1 Get practical help with Lean Startup
      %p Finished reading all the books and blogs? Still stuck?
      %p
        Trade stories, tips, and tricks about what
        %u really
        works and what doesn't from other practitioners.
      .row
        .col-sm-6.col-sm-offset-3
          = form_for Subscriber.new, html: { class: 'form-inline' } do |f|
            = render 'shared/error_messages', object: f.object
            .form-group
              = f.email_field :email, :placeholder => "email address"
            = f.button "Sign Up &raquo;".html_safe, class: "btn btn-primary", name: "continue_button", type: 'submit'

  .container
    .row
      .col-sm-4
        %h2.feature-title Join 80,000+ members
        %p Connect with the worldwide community to tackle real problems. No matter where you are, there is a group near you.

      .col-sm-4
        %h2.feature-title No excuses. Go fast!
        %p In our online forum, there are expert practitioners who want to help you become the next great startup.
      .col-sm-4
        %h2.feature-title Tactics & Tools
        %p
          Browse through our wiki and knowledge base to find tools, tips, & tricks to solve
          %u your
          problem.

%hr
.container#learn-more
  .row
    .col-sm-4.img-container
      = image_tag("3_pixie.jpg", :class=>"prop")
    .col-sm-8
      %h2 Learn from the Best
      %p Everyone hits roadblocks.
      %p When we do, it's important that we're able to get real help from people who have been there before. People who can share their success (and failure) stories so we can learn from them.
      %p Real learning from real practitioners.
  .row
    .col-sm-4.img-container
      = image_tag("2_meetups.png", :class=>"prop")
    .col-sm-8
      %h2 Worldwide Groups
      %p We need perspective on our startup, our assumptions, our businesses.
      %p With groups all over the world and in our online forum, there is always someone there to help. When you're looking for contact_messages in a new city, there is a group near you to help you get started.
  .row
    .col-sm-4.img-container
      = image_tag("1_learn.png", :class=>"prop")
    .col-sm-8
      %h2 Workshops & Resources
      %p Whether you're looking for a workshop to get hands on instruction, or a list of tools you can use to help you test your business model, it's out there.
      %p Use our list of resources to explore more and learn about learn startup from experts and practitioners all over the world.
