<%= content_tag(:h1, @peer.current_step.capitalize, class: "center form-title") %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@peer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= render "peers/steps/#{@peer.current_step}_step", f: f %>
      
      <div class="actions">
        <% if @peer.last_step? %>
          <%= f.button "Submit", class: "btn btn-primary", :name => "submit_button" %>
        <% else %>
          <%= f.button "Continue", class: "btn btn-primary" %>
        <% end %>
        <%= f.button "Back", class: "btn", :name => "back_button" unless @peer.first_step? %>
      </div>
    <% end %>
  </div>
</div>