!!!
%html
  %head
    %meta{charset: "utf-8"}

    /
      Uncomment to make IE8 render like IE7
      <meta http-equiv="X-UA-Compatible" content="IE=7" />

    / Set the viewport width to device width for mobile
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
                                        
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "https://js.stripe.com/v2/"
    = javascript_tag "Stripe.publishableKey = '#{ENV['STRIPE_PUBLISHABLE_KEY']}';"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'layouts/ganalytics'
  %body
    = render 'layouts/header'

    - flash.each do |key, value|
      - if key == :tracking
        :javascript
          #{ga_tracking}
      - else
        .container
          %div{class: "alert alert-#{key} alert-dismissable"}
            %button.close{type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
            = value

    - if yield(:full_width) == "true"
      = yield
    - else
      .container
        = yield

    = render 'layouts/footer'

    .container
      = debug(params) if Rails.env.development?