!!!
%html
  %head
    %title= full_title(yield(:title))

    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}

    = favicon_link_tag 'icons/favicon.ico'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = render 'layouts/google_analytics'
    = render 'layouts/heap_analytics'

  %body
    = render 'layouts/header'
    = render 'shared/flash_messages', flash: flash

    - if yield(:full_width) == 'true'
      = yield
    - else
      .container
        = yield

    = render 'layouts/footer'

    - if Rails.env.development?
      .container
        = debug(params)